.contentContainer h1,
.contentContainer p {
    font-family: 'Open Sans', sans-serif;
    color: #686868
}

.contentContainer h1 {
    font-size: 64px;
}

.contentContainer p {
    font-size: 30px;
}

.contentContainer {
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 7.5%;
}

.leftLogo {
    color: #686868;
    font-size: 48px;
    margin-right: 70px;
}

@media only screen and (max-width: 991px) {
    .contentContainer h1 {
        font-size: 56px;
    }

    .contentContainer p {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .contentContainer h1 {
        font-size: 46px;
    }

    .contentContainer p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 575px) {
    .contentContainer h1 {
        font-size: 32px;
    }

    .contentContainer p {
        font-size: 16px;
    }

    .contentContainer {
        padding: 0 2.5% 20% 2.5%;
    }
}
